a:link {
	color: #000000;
}

a:active {
	color: #000000;
}

a:visited {
	color: #000000;
}

a:hover {
	color: #000000;
	border-bottom: #617277 1px dotted;
}

BODY {
	margin: 0px;
	color: #617277;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}

H1 {
	color: #990000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	font-variant: small-caps;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #993399;
	margin-right: 100px;
}

#COPYRIGHT {
	color: #6699CC;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	text-align: right;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #993399;
	margin-left: 100px;
	margin-right: 10px;
}

#CONTENT {
	margin: 10px;
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}

#GALLERY {
	margin-left: 100px;
	margin-right: 100px;
}
